[Unit]
Description=Container Control Service
After=network.target

[Service]
ExecStart=/home/k_kawa_lin_315/projects/dockerComposeService.sh up
ExecStop=/home/k_kawa_lin_315/projects/dockerComposeService.sh down
ExecReload=/home/k_kawa_lin_315/projects/dockerComposeService.sh downup
User=k_kawa_lin_315
Group=k_kawa_lin_315
Environment=LOG_DIR=/var/log
WorkingDirectory=/home/k_kawa_lin_315/projects
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=containerControlService

[Install]
WantedBy=multi-user.target